<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperHero App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body class="d-flex flex-column vh-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid d-flex justify-content-center justify-content-sm-between">
                <a class="navbar-brand" href="/"><img class="img-fluid" src="~/Content/Images/logo.png"/></a>
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "d-flex" }))
                    {
                        string query = Request.QueryString["q"];
                        <input class="form-control mx-2" name="Query" type="search" placeholder="Search the database" aria-label="Search" value="@query">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    }
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
