@using SuperHero.Data.Models;
@using SuperHero.Common;

@model SearchResultModel

@section Scripts {
    <script src="~/Scripts/main.js"></script>
}

@if (Model?.Response != null)
{
    if (Model.Response.Equals(Constants.SUPER_HERO_API_ERROR_RESPONSE, StringComparison.InvariantCultureIgnoreCase))
    {
        <div class="my-5">
            <div class="row">
                <div class="col-12">
                    <div class="card w-100 mb-4">
                        <div class="card-body">
                            <h1 class="text-center text-uppercase py-5">@Model.Error</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="my-5">
            <div class="row">
                <div class="col-12">
                    <div class="card w-100 mb-4">
                        <div class="card-body">
                            <h1>@Model.Results.Count() results for "@Model.ResultsFor"</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var character in Model.Results)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card w-100 mb-4">
                            <img class="card-img-top js-profile-photo" src="@character.Image.Url" style="height:350px">
                            <div class="card-body">
                                <h5 class="card-title">@character.Name</h5>
                                <p class="card-text text-truncate">@(string.IsNullOrEmpty(character.Biography.FullName) ? "Unknown" : character.Biography.FullName)</p>
                                <a href="/character/@character.Id?q=@Request.QueryString["q"]" class="btn btn-sm btn-success w-100">Explore</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}